:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #564E4E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
    max-width: 100%; 
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.grid {
    margin: 0 auto;
    width: 100%;
    max-width: calc(100% - 160px);
}

@media screen and (max-width: 48em) {
    .grid {
      padding: 0 20px; 
      width: 100%; 
      height: auto;
      max-width: 100%;
    }
  }

@media only screen and (minn-width: 48.0625em) and (max-width: 63.9375em) {
    .grid {
        width: 100%; 
        height: auto;
        max-width: calc(100% - 80px);
    }
}